.itemDetail {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 4rem;
}

.itemDetail img {
    height: 400px;
}

.itemDetail h2 {
    margin: 0;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.itemInfo {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.itemInfo span {
    margin: 1rem 0;
}