body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:visited {
  color: #212121;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem;
}

ul > li {
  margin: 1rem 2rem;
  border-bottom: 1px solid transparent;
  color: #212121;
}

ul > li:hover {
  transform: scale(1.05);
  transition: .4s;
  cursor: pointer;
}

ul > li > a {
  text-decoration: none;
  color: inherit;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img { 
  height: 5rem;
  margin: 2rem
}

h1 { 
  letter-spacing: .2rem;
}

.icon {
  cursor: pointer;
  margin: 0 .5rem;
}

.icon:hover {
  transform: scale(1.05);
  transition: .4s;
}

.itemList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
